.bg-img-index-2 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuA_tbMgLHUuAgDb8UOMjTU4jyyj8lTdUKQDf5-5hvDjdeh7PpES8Dw9ceL8VzbBTLORQBKuTo3KhQknpVChvaa-zLHjYKGVUJ01lPOPSgchAEVhKTH7Ft7gH-nrWHqzU0GC8MBQuKySeTI_Fv4n-HfgByTIwSg9qxS98fabL04toqteUqj6koGaBpechgNvQlxLnQpJtyeY2K9K95cA0-FmCXaCCQWKPmCVZqjwIiT480gATxQGuWMb6OrOVQCVAl3x52IgsNXTJJE'); }
.bg-img-index-3 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuB5mPZwAcHt6LGbwfDCBcufJqHrTl4VUXo4lyViBYxc8M5FO7b6wMAH-EPmG09Tzw2Mff5j9AlGtROIFgeyDuPjLrc6znuReWUZWb6UaZQRstXSb1xFGUiWr4gTIWHOG-1tePACeAlqlfwvJpHTuBmJ1ouIDBt57AgMf-0sZL2o1Er__IiSqL1hidCIZlTb_C04VcEKeZ78D4Do7qViTH7HS7M6yDTXb81uSPAmqWnHs9NoOLFNUtDaf3A5pqbs1qEwaABZS2q0Yx8'); }
.bg-img-index-5 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDVVh-F_zqhcgIsFbEOuCtaqkTYa4L5zAg0YY8hnFKdox-jcMjbnvNI3e3WYHiUBIZd8roU7NMq0dMKBD1S6p_Db_3Q6NHfNO6LvlHzeV4HluSAEgx7xeUd4-h78Aq6V2AZjebE-FzoZ83RHDpgXwbxiy6bk2EBjcvZcdOW7xwzK0twJLJuktGhSzXeeVHnlqWiGgjbWvtVG8_0FO1ysCM_isikJQuvvAy-1WCAdPDwyDEPK0rlxqKQzaBiu9rmmw9qF_S_UrYIkqo'); }
.bg-img-index-6 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCQkkE7j6D-pOmRH5gG1Emi1NcPPBhaC9lZ93vJVlNrsm4ZykWZ63rHiKNkgK3e-U5Is3PKbLSZbbTNdmcdJZuNgU8G42PNCVGpUY0AXvVd2V0WE7J8qGKPUOEu_mzi9dVIi8zcWiqC82_y1QN7soZb1uqBPgib66GI5AVxQev4vxf7_jHtOh9EapeMfZvrLl8ojMdSih7DR6RO-HXgt1xoGrXb-dmpXuScTce7-limA3z8L6to19_Sdxxgfexlpx7XkGJX0W2Jrno'); }
.grayscale { filter: grayscale(100%); }
.group .aspect-square {
  transition: filter 0.3s ease;
}
.group:hover .aspect-square:not(.grayscale) {
  filter: invert(100%);
}
.group:hover .aspect-square.grayscale {
  filter: grayscale(100%) invert(100%);
}
img {
  transition: filter 0.3s ease;
}
.group:hover img {
  filter: invert(100%);
}
.fade-in {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 0.7s ease-in-out, transform 0.7s ease-in-out;
}

.fade-in.visible {
  opacity: 1;
  transform: translateY(0);
}