.bg-img-index-1 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDOWZgYMUa2y1ZvyagCg_oFA0TduUIU7C0Ty9uzbXBEK_Rh2IsBSzHetE41f9CRSXXltXOmngjA8rVsWHKWEzqhFVjJJK-PogQQc9b8o6-bp5FbhC8Shfj0xg-DKW4Tm6_bWlJKFhv64HSf8AoYyEAdqZ7BlfV0-yI3mHBiaEQ_lXFm4pvmnc3pMsq6BkBWsw-dvocBiAUkibEauHTXio_r_SVhapALRP1TLyQ7WfU249gz7lQKeLdztCLkD-eDkPFojjOblOjV1xg'); }
.bg-img-index-2 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuA_tbMgLHUuAgDb8UOMjTU4jyyj8lTdUKQDf5-5hvDjdeh7PpES8Dw9ceL8VzbBTLORQBKuTo3KhQknpVChvaa-zLHjYKGVUJ01lPOPSgchAEVhKTH7Ft7gH-nrWHqzU0GC8MBQuKySeTI_Fv4n-HfgByTIwSg9qxS98fabL04toqteUqj6koGaBpechgNvQlxLnQpJtyeY2K9K95cA0-FmCXaCCQWKPmCVZqjwIiT480gATxQGuWMb6OrOVQCVAl3x52IgsNXTJJE'); }
.bg-img-index-3 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuB5mPZwAcHt6LGbwfDCBcufJqHrTl4VUXo4lyViBYxc8M5FO7b6wMAH-EPmG09Tzw2Mff5j9AlGtROIFgeyDuPjLrc6znuReWUZWb6UaZQRstXSb1xFGUiWr4gTIWHOG-1tePACeAlqlfwvJpHTuBmJ1ouIDBt57AgMf-0sZL2o1Er__IiSqL1hidCIZlTb_C04VcEKeZ78D4Do7qViTH7HS7M6yDTXb81uSPAmqWnHs9NoOLFNUtDaf3A5pqbs1qEwaABZS2q0Yx8'); }

.bg-img-index-5 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuDVVh-F_zqhcgIsFbEOuCtaqkTYa4L5zAg0YY8hnFKdox-jcMjbnvNI3e3WYHiUBIZd8roU7NMq0dMKBD1S6p_Db_3Q6NHfNO6LvlHzeV4HluSAEgx7xeUd4-h78Aq6V2AZjebE-FzoZ83RHDpgXwbxiy6bk2EBjcvZcdOW7xwzK0twJLJuktGhSzXeeVHnlqWiGgjbWvtVG8_0FO1ysCM_isikJQuvvAy-1WCAdPDwyDEPK0rlxqKQzaBiu9rmmw9qF_S_UrYIkqo'); }
.bg-img-index-6 { background-image: url('https://lh3.googleusercontent.com/aida-public/AB6AXuCQkkE7j6D-pOmRH5gG1Emi1NcPPBhaC9lZ93vJVlNrsm4ZykWZ63rHiKNkgK3e-U5Is3PKbLSZbbTNdmcdJZuNgU8G42PNCVGpUY0AXvVd2V0WE7J8qGKPUOEu_mzi9dVIi8zcWiqC82_y1QN7soZb1uqBPgib66GI5AVxQev4vxf7_jHtOh9EapeMfZvrLl8ojMdSih7DR6RO-HXgt1xoGrXb-dmpXuScTce7-limA3z8L6to19_Sdxxgfexlpx7XkGJX0W2Jrno'); }
.bg-img-project-color-1 { background-image: url('../images/projects/Color/hc.webp'); }
.bg-img-project-color-2 { background-image: url('../images/projects/Color/hb.webp'); }
.bg-img-project-color-3 { background-image: url('../images/projects/Color/ha.webp'); }
.bg-img-project-color-4 { background-image: url('../images/projects/Color/gz.webp'); }
.bg-img-project-color-5 { background-image: url('../images/projects/Color/gg.webp'); }
.bg-img-project-color-6 { background-image: url('../images/projects/Color/gx.webp'); }
.bg-img-project-color-7 { background-image: url('../images/projects/Color/gh.webp'); }
.bg-img-project-color-8 { background-image: url('../images/projects/Color/gg.webp'); }
.bg-img-project-color-9 { background-image: url('../images/projects/Color/gf.webp'); }
.bg-img-project-color-10 { background-image: url('../images/projects/Color/ge.webp'); }
.bg-img-project-color-11 { background-image: url('../images/projects/Color/gd.webp'); }
.bg-img-project-color-12 { background-image: url('../images/projects/Color/gc.webp'); }
.bg-img-project-color-13 { background-image: url('../images/projects/Color/gb.webp'); }
.bg-img-project-color-14 { background-image: url('../images/projects/Color/ga.webp'); }
.bg-img-project-color-15 { background-image: url('../images/projects/Color/fz.webp'); }
.bg-img-project-color-16 { background-image: url('../images/projects/Color/fy.webp'); }
.bg-img-project-color-17 { background-image: url('../images/projects/Color/fw.webp'); }
.bg-img-project-color-18 { background-image: url('../images/projects/Color/fv.webp'); }
.bg-img-project-color-19 { background-image: url('../images/projects/Color/fu.webp'); }
.bg-img-project-color-20 { background-image: url('../images/projects/Color/ft.webp'); }
.grayscale { filter: grayscale(100%); }
.bg-img-project-mono-1 { background-image: url('../images/projects/Monochrome/gu.webp'); }
.bg-img-project-mono-2 { background-image: url('../images/projects/Monochrome/gr.webp'); }
.bg-img-project-mono-3 { background-image: url('../images/projects/Monochrome/gq.webp'); }
.bg-img-project-mono-4 { background-image: url('../images/projects/Monochrome/gp.webp'); }
.bg-img-project-mono-5 { background-image: url('../images/projects/Monochrome/go.webp'); }
.bg-img-project-mono-6 { background-image: url('../images/projects/Monochrome/gn.webp'); }
.bg-img-project-mono-7 { background-image: url('../images/projects/Monochrome/gm.webp'); }
.bg-img-project-mono-8 { background-image: url('../images/projects/Monochrome/gl.webp'); }
.bg-img-project-mono-9 { background-image: url('../images/projects/Monochrome/gk.webp'); }
.bg-img-project-mono-10 { background-image: url('../images/projects/Monochrome/gj.webp'); }
.bg-img-project-mono-11 { background-image: url('../images/projects/Monochrome/gu.webp'); }
.bg-img-project-mono-12 { background-image: url('../images/projects/Monochrome/gr.webp'); }
.bg-img-project-mono-13 { background-image: url('../images/projects/Monochrome/gq.webp'); }
.bg-img-project-mono-14 { background-image: url('../images/projects/Monochrome/gp.webp'); }
.bg-img-project-mono-15 { background-image: url('../images/projects/Monochrome/go.webp'); }
.bg-img-project-mono-16 { background-image: url('../images/projects/Monochrome/gn.webp'); }
.bg-img-project-mono-17 { background-image: url('../images/projects/Monochrome/gm.webp'); }
.bg-img-project-mono-18 { background-image: url('../images/projects/Monochrome/gl.webp'); }
.bg-img-project-mono-19 { background-image: url('../images/projects/Monochrome/gk.webp'); }
.bg-img-project-mono-20 { background-image: url('../images/projects/Monochrome/gj.webp'); }